.custom-nav{
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}
.custom-div{
	height: 5px;
	background: rgb(149,136,136);
background: linear-gradient(90deg, rgba(149,136,136,1) 0%, rgba(47,47,223,1) 20%, rgba(17,65,148,1) 40%, rgba(45,77,113,1) 57%, rgba(11,123,158,1) 79%, rgba(11,50,58,1) 100%);
	}
.contentabout{
	margin-bottom: 10%;
	}
.banner{
	/*margin-top: 6.5%;*/
	padding-top: 150px;
	padding-bottom: 100px;
	line-height: 2%;
	background: url('https://images.unsplash.com/photo-1509381488012-29d23e254085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60') no-repeat;
	background-size: cover;
	opacity: 0.9;
	color: black;
	width: 100%;
	height: 700px;
}
.banner-content{
	/*font-family: '', monospace;*/
}
.icon-bar {
  position: relative;
  top: 120%;
  left: -5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.aboutrow{
	margin: 0px;
	margin-left: 0;
	/*background-color: gainsboro;*/
}.servrow{
	margin: 0px;
	margin-left: 0;

}
.abouthead{
	text-align: center;
	margin-left: 30%;
	margin-right: 25%;
	margin-top: 16%;
	margin-bottom: 10%;
}
.holder{

	text-align: center;
	font-size: large;
	margin-bottom: 5%;
	/*padding-top: 40%;*/
	padding-bottom: 20%;
}
.servholder{
	text-align: center;
	font-size: large;
	margin-bottom: 5%;
	/*padding-top: 40%;*/
	padding-bottom: 20%;
	border: 1px solid black;
	background-color: gainsboro;
	}
.servicon{
	margin-top: 4%;
}
.icon-bar a {
  display: inline-block;
  text-align: center;
  padding: 6px;
  transition: all 0.3s ease;
  color: white;
  font-size: 22px;
  opacity: 0.5;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  
  color: white;
}

.twitter {
 
  color: white;
}

.google {
  
  color: white;
}

.linkedin {
  
  color: white;
}

.youtube {
  
  color: white;
}

.content {
  /*margin-left: 75px;*/
  font-size: 30px;
}
.custom-btn{
	margin-top: 25px;

}
.custom-disp{
	background-color: gainsboro;
	margin: 0;
	padding-bottom: 5px;
	margin-bottom: 10%; 
}
.custom-disptext{
	font-family: serif;
	font-size: large;
	margin-top: 10%;
	margin-bottom: 10%;

}
.custom-wdisp{
	background: rgb(149,136,136);
background: linear-gradient(90deg, rgba(149,136,136,1) 0%, rgba(69,69,195,1) 0%, rgba(38,80,151,1) 40%, rgba(11,93,184,1) 73%, rgba(53,66,71,1) 100%, rgba(55,71,75,1) 100%);
	/*background-color: gainsboro;*/
	opacity: 0.9;
	color: white;
	margin: 0;
	padding-bottom: 5px;
	margin-bottom: 10%; 
}

.custom-wdisptext{
	font-family: serif;
	font-size: large;
	margin-top: 6%;
	text-align: center;
	margin-bottom: 6%;

}
.custom-img{
	/*width: 30%;*/
	margin-top: 5%;
	margin-bottom: 5%;
	/*height: 25%;*/
}

.custom-view{
	background-color: black;
	padding: 3px;
	border: 2px solid black;
	margin-top: 7%;
	width: 50%;
	margin-bottom: 7%;
	height: 15%;
	text-align: center;

}
.custom-view a{
	
	/*text-decoration: none;*/
	margin-top: 1%;
	font-family: serif;
	font-size: large;
	color: white;
}

.custom-dig{
	/*background-color: gainsboro;*/
	margin: 0;
	/*margin-top: 5%;*/
	padding-bottom: 5px;
	margin-bottom: 10%; 
}
.custom-digtext{
	font-family: serif;
	font-size: large;
	margin-top: 10%;
	margin-bottom: 10%;

}
.main-footer{
	/*text-align: center;*/
	background-color: navy;
	opacity: 0.9;
	color: white;
	padding-top: 2%;
	font-size: 16px;
	font-family: sans-serif;
	padding-bottom: 2%;

}
.main-footer ul li{
	/*margin-left: -15%;*/
	list-style-type: none;
	
	margin-bottom: 1px;
}
.main-footer ul li a{
	text-decoration: none;
	color: white;
}
#gototop{
	text-decoration: none;
	color: whitesmoke;
	font-family: sans-serif;
}
.copy{
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: gainsboro;
}
.navtext{
	font-size: 1.2em;
	font-family: sans-serif;
	font-weight: bolder;
}









@media(max-width: 767px )
{
	.custom-img{
		
	}
}


@media (max-width: 576px)
{
	.icon-bar {
  position: relative;
  top: 90%;
  left: -2%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.custom-btn{
	margin-top: 10%;
}
.aboutrow{
	margin-top: 40%;
	
}