*
{
	box-sizing: border-box;

	
}
.row
{
 background-color: lightgray;
}
h1
{
	
	text-align: center;

}
h3
{
	text-align: right;
}
.div1
{
	padding: 10px;
	border: 2px solid black;
	margin-top: 10px;
	background-color: pink;
}
.div2
{
	padding: 10px;
	border: 2px solid black;
	margin-top: 10px;
	background-color: pink;
}
.div3
{
	padding: 10px;
	border: 2px solid black;
	margin-top: 10px;
	background-color: pink;
}
@media(min-width: 992px)
{
	.div1{
	
		margin-right: 25px; 
		width: 29%;
		float: left;
		margin-left: 25px;
		
	}
	.div2
	{
	
		margin-right: 25px; 
		width: 29%;
		float: left;
	}
	.div3
	{
	
		margin-right: 25px; 
		width: 29%;
		float: left;
	}

}
@media(min-width: 768px) and (max-width: 991px)
{
.div1{
		float: left;
		margin-right: 10px; 
		width: 45%;
	}
	.div2
	{
		float: left;
		margin-right: 10px; 
		width: 45%;
	}
	.div3
	{
		float: left;
		margin-right: 10px; 
		width: 91.4%;
	}

}
@media(max-width: 767px)
{
	.div1
	{
		
		margin-right: 10px; 
		width: 100%;

	}
	.div2
	{
		
		margin-right: 10px; 
		width: 100%;
	}
	.div3
	{
		
		margin-right: 10px; 
		width: 100%;
	}
}		
